html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slider01 {
  height: 100vh;
}
.greenry {
  height: 60vh;
  position: relative;
  animation-name: bazinga;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.card {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 2rem !important;
  background: #f3f0f0 !important;
  border: none !important;
}
@keyframes bazinga {
  0% {
    background: #f8faf9;
    width: 0vw;
  }
  10% {
    background: #f8faf9;
    width: 10vw;
  }
  20% {
    background: #33bf8b;
    width: 20vw;
  }
  30% {
    background: #33bf8b;
    width: 30vw;
  }
  40% {
    background: #33bf8b;
    width: 40vw;
  }
  50% {
    background: #33bf8b;
    width: 50vw;
  }
  60% {
    background: #33bf8b;
    width: 60vw;
  }
  70% {
    background: #33bf8b;
    width: 70vw;
  }
  80% {
    background: #33bf8b;
    width: 80vw;
  }
  90% {
    background: #33bf8b;
    width: 90vw;
  }
  100% {
    background: #33bf8b;
    width: 98vw;
  }
}
.carousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center !important;
  height: 100vh;
  color: #fff;
}
.btns {
  cursor: pointer;
  color: rgba(204, 204, 204, 0.733);
}
